<div class="ui inverted fixed menu">
	<div class="header item">
		<div class="logo float-left">
			<i class="material-icons" style="color:#fff; font-size:1.1em">bubble_chart</i>
			storypoint
        </div>
	</div>
	<div class="right menu">
		<div class="item">
	      <div class="ui inverted transparent icon input">
	        <input type="text" placeholder="Search projects...">
	        <i class="search link icon"></i>
	      </div>
	    </div>
		<a class="item">
			<img class="ui avatar bordered image" src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/p/7/000/224/1c5/022c4e6.jpg">
			<span>Kevin Langlois</span>
		</a>
		<a class="item">
			Logout
		</a>
	</div>
</div>