<header></header>

<sidebar></sidebar>

<div class="container">
	<div class="ui basic segment">

		<project-header 
			[pageTitle]="'Project Overview'" 
			[project]="project">
		</project-header>

		<div class="ui very padded segment">

			<div class="ui right floated secondary menu">
				<a class="item"><i class="material-icons icon">create</i> Edit</a>
			</div>

			<h2 class="ui left floated header">
				Business Objectives
				<span class="sub header">What would the business like to accomplish</span>
			</h2>

			<div class="clear"></div>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec consectetur elit, quis posuere mi. Integer vitae gravida elit. Fusce a eros sed dolor consectetur porta eu vitae augue. Nulla facilisi. Morbi nec dolor sed velit vulputate vehicula ac ac leo. Integer hendrerit posuere tempus. Vestibulum eros magna, ullamcorper nec dui eu, luctus finibus magna.</p>

		</div>
		<div class="ui very padded segment">

			<div class="ui right floated secondary menu">
				<a class="item"><i class="material-icons icon">create</i> Edit</a>
			</div>

			<h2 class="ui left floated header">
				Background and Strategic Fit
				<span class="sub header">Why does the business want to accomplish the above objectives</span>
			</h2>

			<div class="clear"></div>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec consectetur elit, quis posuere mi. Integer vitae gravida elit. Fusce a eros sed dolor consectetur porta eu vitae augue. Nulla facilisi. Morbi nec dolor sed velit vulputate vehicula ac ac leo.</p>

		</div>
		<div class="ui very padded segment">

			<div class="ui right floated secondary menu">
				<a class="item"><i class="material-icons icon">create</i> Edit</a>
			</div>

			<h2 class="ui left floated header">
				Assumptions
				<span class="sub header">What are some assumptions that may not be outlined above</span>
			</h2>

			<div class="clear"></div>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec consectetur elit, quis posuere mi. Integer vitae gravida elit. Fusce a eros sed dolor consectetur porta eu vitae augue. Nulla facilisi. Morbi nec dolor sed velit vulputate vehicula ac ac leo. </p>

		</div>
		<div class="ui very padded segment">

			<div class="ui right floated secondary menu">
				<a class="item"><i class="material-icons icon">create</i> Edit</a>
			</div>

			<h2 class="ui left floated header">
				Impact And Risk Assessment
				<span class="sub header">Outline the risks involved with meeting the above objectives</span>
			</h2>

			<div class="clear"></div>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec consectetur elit, quis posuere mi. Integer vitae gravida elit. Fusce a eros sed dolor consectetur porta eu vitae augue. Nulla facilisi. Morbi nec dolor sed velit vulputate vehicula ac ac leo. </p>

		</div>
	</div>
</div>