<header></header>

<sidebar></sidebar>

<div class="container">
	<div class="ui basic segment">

		<project-header 
			[pageTitle]="'Project Comments'" 
			[project]="project">
		</project-header>

		<div class="ui very padded segment">
			
			<h2  class="ui left floated header">
				Comments
				<span _ngcontent-c7="" class="sub header">Project discussion thread</span>
			</h2>

			<div class="clear"></div>

<div class="ui threaded large comments">

  <div class="comment">
    <a class="avatar">
      <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/7/000/224/1c5/022c4e6.jpg">
    </a>
    <div class="content">
      <a class="author">Matt</a>
      <div class="metadata">
        <span class="date">Today at 5:42PM</span>
      </div>
      <div class="text">
        How artistic!
      </div>
      <div class="actions">
        <a class="reply">Reply</a>
      </div>
    </div>
  </div>
  <div class="comment">
    <a class="avatar">
      <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAu9AAAAJDkyYTYxYmM4LTg0MTktNGU4OS05NmJjLTg3ZGYxNGQwYmEzZg.jpg">
    </a>
    <div class="content">
      <a class="author">Elliot Fu</a>
      <div class="metadata">
        <span class="date">Yesterday at 12:30AM</span>
      </div>
      <div class="text">
        <p>This has been very useful for my research. Thanks as well!</p>
      </div>
      <div class="actions">
        <a class="reply">Reply</a>
      </div>
    </div>
    <div class="comments">
      <div class="comment">
        <a class="avatar">
          <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAn_AAAAJGU5NDQ2NjEwLWUxOWItNGJjZC1iMDA4LTU1MzM3NDg1YzFjZg.jpg">
        </a>
        <div class="content">
          <a class="author">Jenny Hess</a>
          <div class="metadata">
            <span class="date">Just now</span>
          </div>
          <div class="text">
            Elliot you are always so right :)
          </div>
          <div class="actions">
            <a class="reply">Reply</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="comment">
    <a class="avatar">
      <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAn_AAAAJGU5NDQ2NjEwLWUxOWItNGJjZC1iMDA4LTU1MzM3NDg1YzFjZg.jpg">
    </a>
    <div class="content">
      <a class="author">Joe Henderson</a>
      <div class="metadata">
        <span class="date">5 days ago</span>
      </div>
      <div class="text">
        Dude, this is awesome. Thanks so much
      </div>
      <div class="actions">
        <a class="reply">Reply</a>
      </div>
    </div>
  </div>

</div>

		</div>
	</div>
</div>